In [6]:
import pandas as pd
import numpy as np

In [7]:
df=pd.read_csv("https://github.com/Kumarkad/Dataset/raw/main/customer.csv")

In [8]:
df

     CustomerID   Genre     Age  Annual Income (k$)  Spending Score (1-100)
0             1    Male   youth                  15                      39
1             2    Male   youth                  15                      81
2             3  Female  middle                  16                       6
3             4  Female  middle                  16                      77
4             5  Female   youth                  17                      40
..          ...     ...     ...                 ...                     ...
195         196  Female  senior                 120                      79
196         197  Female  senior                 126                      28
197         198    Male   youth                 126                      74
198         199    Male   youth                 137                      18
199         200    Male   youth                 137                      83

[200 rows x 5 columns]

In [14]:
df.mean(numeric_only=True)

CustomerID                100.50
Annual Income (k$)         60.56
Spending Score (1-100)     50.20
dtype: float64

In [15]:
df['Age'].mean()

TypeError: Could not convert youthyouthmiddlemiddleyouthyouthseniorsenioryouthyouthyouthmiddlemiddleyouthyouthseniorsenioryouthyouthyouthmiddlemiddleyouthyouthseniorsenioryouthyouthyouthmiddlemiddleyouthyouthseniorsenioryouthyouthyouthmiddlemiddleyouthyouthseniorsenioryouthyouthyouthmiddlemiddleyouthyouthseniorsenioryouthyouthyouthmiddlemiddleyouthyouthseniorsenioryouthyouthyouthmiddlemiddleyouthyouthseniorsenioryouthyouthyouthmiddlemiddleyouthyouthseniorsenioryouthyouthyouthmiddlemiddleyouthyouthseniorsenioryouthyouthyouthmiddlemiddleyouthyouthseniorsenioryouthyouthyouthmiddlemiddleyouthyouthseniorsenioryouthyouthyouthmiddlemiddleyouthyouthseniorsenioryouthyouthyouthmiddlemiddleyouthyouthseniorsenioryouthyouthyouthmiddlemiddleyouthyouthseniorsenioryouthyouthyouthmiddlemiddleyouthyouthseniorsenioryouthyouthyouthmiddlemiddleyouthyouthseniorsenioryouthyouthyouthmiddlemiddleyouthyouthseniorsenioryouthyouthyouthmiddlemiddleyouthyouthseniorsenioryouthyouthyouthmiddlemiddleyouthyouthseniorsenioryouthyouthyouthmiddlemiddleyouthyouthseniorsenioryouthyouthyouthmiddlemiddleyouthyouthseniorsenioryouthyouthyouth to numeric