In [1]:
import pandas as pd
import sklearn as sk
import math

In [2]:
first_sentence = "Jupiter is the largest Planet"
second_sentence = "Mars is the fourth planet from the Sun"
#split so each word have their own string
first_sentence = first_sentence.split(" ")
second_sentence = second_sentence.split(" ")#join them to remove common duplicate words
total= set(first_sentence).union(set(second_sentence))
print(total)

{'Jupiter', 'is', 'Planet', 'planet', 'largest', 'Sun', 'Mars', 'the', 'from', 'fourth'}

In [3]:
len(total)

10

In [8]:
wdictA=dict.fromkeys(total,0)
wdictB=dict.fromkeys(total,0)
for w in first_sentence:
    wdictA[w]+=1
for w in second_sentence:
    wdictB[w]+=1
print(wdictA)
print(wdictB)

{'Jupiter': 1, 'is': 1, 'Planet': 1, 'planet': 0, 'largest': 1, 'Sun': 0, 'Mars': 0, 'the': 1, 'from': 0, 'fourth': 0}
{'Jupiter': 0, 'is': 1, 'Planet': 0, 'planet': 1, 'largest': 0, 'Sun': 1, 'Mars': 1, 'the': 2, 'from': 1, 'fourth': 1}

In [13]:
df=pd.DataFrame([wdictA,wdictB])

In [14]:
df

   Jupiter  is  Planet  planet  largest  Sun  Mars  the  from  fourth
0        1   1       1       0        1    0     0    1     0       0
1        0   1       0       1        0    1     1    2     1       1

In [18]:
def computeTF(worddict,doc):
    tfDict={}
    corpuscount=len(doc)
    for word,count in worddict.items():
        tfDict[word]=count/float(corpuscount)
    return tfDict
tfFirst=computeTF(wdictA,first_sentence)
tfSecond=computeTF(wdictB,second_sentence)

tf=pd.DataFrame([tfFirst,tfSecond])

In [19]:
tf

   Jupiter     is  Planet  planet  largest    Sun   Mars   the   from  fourth
0      0.2  0.200     0.2   0.000      0.2  0.000  0.000  0.20  0.000   0.000
1      0.0  0.125     0.0   0.125      0.0  0.125  0.125  0.25  0.125   0.125

In [20]:
def computeIDF(doclist):
    idfdict={}
    n=len(doclist)
    idfdict=dict.fromkeys(doclist[0].keys(),0)
    for word,val in idfdict.items():
        idfdict[word]=math.log10(n/(float(val)+1))
    return idfdict
idfs=computeIDF([wdictA,wdictB])

In [21]:
idfs

{'Jupiter': 0.3010299956639812,
 'is': 0.3010299956639812,
 'Planet': 0.3010299956639812,
 'planet': 0.3010299956639812,
 'largest': 0.3010299956639812,
 'Sun': 0.3010299956639812,
 'Mars': 0.3010299956639812,
 'the': 0.3010299956639812,
 'from': 0.3010299956639812,
 'fourth': 0.3010299956639812}

In [22]:
def computeTFIDF(tfBow, idfs):
    tfidf = {}
    for word, val in tfBow.items():
        tfidf[word] = val*idfs[word]
    return(tfidf)
#running our two sentences through the IDF:
idfFirst = computeTFIDF(tfFirst, idfs)
idfSecond = computeTFIDF(tfSecond, idfs)
#putting it in a dataframe
idf= pd.DataFrame([idfFirst, idfSecond])
print(idf)

    Jupiter        is    Planet    planet   largest       Sun      Mars  \
0  0.060206  0.060206  0.060206  0.000000  0.060206  0.000000  0.000000
1  0.000000  0.037629  0.000000  0.037629  0.000000  0.037629  0.037629

        the      from    fourth
0  0.060206  0.000000  0.000000
1  0.075257  0.037629  0.037629